*
{
	padding:-1px;
	margin:0px;
}


body
{
    background-image:url("../images/blauw.jpg");
	background-color:RGB(0, 0, 0);
	font-size:1.1em;
	font-family:Comic Sans MS;
	border:0px solid blue;
	/*
	padding-left:2em;
	padding-top:2em;
	padding-bottom:2em;
	padding-right:2em;
	*/
	padding:1em;
	margin:10px;
}
div#container
{
	background-color:blauw;
	width:1000px;
	margin:0px auto;
	border-radius:0px;

}

div#banner
{
	background-image:url("../images/logo.jpg");
	background-color:blue;
	height:250px;
	border-radius:40px;
}

div#footer
{
	border-radius: 20px;
	margin-top: 20px;
	background-color:purple;
	text-align:center;
}

div#content
{
	background-color:white;
	border-radius:15px;
	margin-top: 20px;
	min-height:350px;
	border:0px solid blue;
	padding:10px;
	position:relative;
}

div#link
{
	border:2px solid purple;
	position:absolute;
	left:-180px;
	background-color:blauw;
	border-radius:10px;
	padding:0,5em;
}

div#link ul
{
	list-style-type:none;

}

a
{
	color:black;
	text-decoration:none;
}
table.simple
{
	border-collapse:collapse;
	margin:0px auto;
}

table.simple td, th
{
	border:2px solid black;
	text-align:center;
	padding:0.3em;
	background-color:white;
	color:black;
}
table.simple caption
{
	background-color:blue;
}



div#background 
{
 color: black;
 text-decoration:none;
}