*
{
	padding:-1px;
	margin:0px;
}


body
{
    background-image:url("../images/12.jpg");
    background-repeat:repeat;
	//background-color:red;
	font-size:1.1em;
	font-family:Comic Sans MS;
	border:0px solid black;
	/*
	padding-left:2em;
	padding-top:2em;
	padding-bottom:2em;
	padding-right:2em;
	*/
	padding:2em;
	margin:10px;
}
div#container
{
	background-color:blauw;
	width:728px;
	margin:0px auto;
	border-radius:0px;

}

div#banner
{
	background-image:url("../images/lo.jpg");
	background-repeat:no-repeat;
	background-color:black;
	height:90px;
	border-radius:40px;
}

div#footer
{
	border-radius: 20px;
	margin-top: 20px;
	background-color:blue;
	text-align:center;
}

div#content
{

	border-radius:15px;
	margin-top: 20px;
	min-height:350px;
	border:2px solid black;
	padding:10px;
	position:relative;
}

div#link
{
	border:2px solid black;
	position:absolute;
	left:-180px;
	background-color:blauw;
	border-radius:10px;
	padding:0,5em;
}

div#link ul
{
	list-style-type:none;

}

a
{
	color:black;
	text-decoration:none;
}
table.simple
{
	border-collapse:collapse;
	margin:0px auto;
}

table.simple td, th
{
	border:2px solid black;
	text-align:center;
	padding:0.3em;
	background-color:blue;
	color:black;
}
table.simple caption
{
	background-color:blue;
}



div#background 
{
 color: black;
 text-decoration:none;
}